.recent-songs{
      font-weight: bold;
  }
  
  .navbar-navbar-expand-lg-navbar-light-bg-light{
      background-color: #FFC300
  }
  .navbar-brand{
      font-size: 50px;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
  }
  body{
  background-color: #F7E65E;
  }
.explore-pages{
    text-decoration: underline;
    font-weight: bold;
    color: black;
}
.top-5{
    font-weight:bold;
}
#content{
    padding-left: 20px
}
.utube{
    color: black;
    text-decoration: underline;
}
